@*@model CoreEV4.Models.Patients*@
@model CoreEV4.ViewModels.PatientMV

@{
    ViewData["Title"] = "Create";
}

<div class="card card card-default scrollspy" id="validation">
    <div class="border-radius-10 card card-content col s12 m6 l6 offset-m3 offset-l3 pl-0 pr-0">
        <h4 class="border-radius-10 header gradient-45deg-indigo-blue padding-5 medium" style="color: rgba(255, 255, 255, 0.901961);margin:0">
            <span class="">নতুন রোগী এড করুন</span>
            <a asp-action="Index" class="btn btn-floating btn-medium pink pulse right"><i class="material-icons">arrow_back</i></a>
        </h4>
        <form enctype="multipart/form-data" method="post" asp-action="Create" class="pt-8 pb-6 col s12 m10 l10 offset-m1 offset-l1">
            <div asp-validation-summary="ModelOnly" class="pink-text"></div>
            <div class="input-field">
                <label asp-for="pName" class="control-label"></label>
                <input asp-for="pName" class="form-control" />
                <span asp-validation-for="pName" class="pink-text"></span>
            </div>
            <div class="input-field">
                <label asp-for="pEmail" class="control-label"></label>
                <input asp-for="pEmail" class="form-control" />
                <span asp-validation-for="pEmail" class="pink-text"></span>
            </div>
            <div class="row">
                <div class="col s6">
                    <label asp-for="bGroup" class="control-label"></label>
                    <select asp-for="bGroup">
                        <option value="0">--Blood Group--</option>
                        <option value="0">A+ ve</option>
                        <option value="0">A- ve</option>
                        <option value="0">B+ ve</option>
                        <option value="0">B- ve</option>
                    </select>
                    <span asp-validation-for="bGroup" class="pink-text"></span>
                </div>
                <div class="col s6">
                    <label asp-for="Dob" class="control-label"></label>
                    <input asp-for="Dob" class="form-control" />
                    <span asp-validation-for="Dob" class="pink-text"></span>
                </div>
            </div>
            <div class="input-field">
                <label asp-for="Address" class="control-label"></label>
                <textarea asp-for="Address" id="textarea2" class="materialize-textarea validate" data-length="50"></textarea>
                <span asp-validation-for="Address" class="pink-text"></span>
            </div>
            <div class="col s12">
                <div class="row">
                    <div class="col s12 m8 l8">
                        <div class="row">
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>File</span>
                                    <input asp-for="pImageFile" name="file" id="File">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                                <span asp-validation-for="pImageFile" class="pink-text"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col s4 m4 l4">
                        <img src="" id="imgShow" style=" width: 100%;" />
                    </div>
                </div>
            </div>

            <div class="col s12">
                <label asp-for="pStatus" class="control-label"></label>

                <select asp-for="pStatus">
                    <option value="0">--Select Status--</option>
                    <option value="Hospitalized">Hospitalized</option>
                    <option value="Recovered">Recovered</option>
                    <option value="Dead">Dead</option>
                </select>
                <span asp-validation-for="pStatus" class="pink-text"></span>
            </div>
            <div class="">
                <label asp-for="hId" class="control-label"></label>
                <select asp-for="hId" class="form-control" asp-items="ViewBag.hId">
                    <option>--Select Hospital--</option>
                </select>
            </div>
            <div class="input-field">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section script {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/EmailValidator.js"></script>
    <script>
        $(document).ready(function () {
            $('input#input_text, textarea#textarea2').characterCounter();

            $("#File").change(function () {
                var file = $("input[type=file]").get(0).files[0];
                if (file) {
                    var reader = new FileReader();

                    reader.onload = function () {
                        $("#imgShow").attr("src", reader.result);
                        $("#fileName").val(file);
                    }
                    reader.readAsDataURL(file);
                }
            })
        });
    </script>
}
