@model CoreEV4.Models.Hospitals

@{
    ViewData["Title"] = "Create Hospital";
}

<div class="card card card-default scrollspy" id="validation">
    <div class="border-radius-10 card card-content col s12 m6 l6 offset-m3 offset-l3 pl-0 pr-0">
        <h4 class="border-radius-10 header gradient-45deg-indigo-blue padding-5 medium" style="color: rgba(255, 255, 255, 0.901961);margin:0">
            <span class="">নতুন হাসপাতাল এড করুন</span>
            <a asp-controller="Hospitals" asp-action="Index" class="btn btn-floating btn-medium pink pulse right"><i class="material-icons">arrow_back</i></a>
        </h4>
        <form asp-action="Create" class="pt-8 pb-6 col s12 m10 l10 offset-m1 offset-l1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input asp-for="hName" class="validate" />
                    <label asp-for="hName" class="control-label"></label>
                    <span asp-validation-for="hName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <label asp-for="hAddress" class="control-label"></label>
                    <textarea asp-for="hAddress" class="materialize-textarea" rows="5"></textarea>
                    <span asp-validation-for="hAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="mb-6 btn waves-effect waves-light gradient-45deg-red-pink right" type="submit">
                        Create
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

@section script {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
