@{
    ViewData["Title"] = "Home Page";
}

<div class="section">
    <!-- ecommerce product start-->
    <div id="ecommerce-product">
        <div class="row">
            <div class="col s12 m3">
                <div class="card animate fadeLeft border-radius-10 gradient-45deg-teal-cyan">
                    <h4 class="border-radius-10 header gradient-45deg-indigo-blue padding-5 medium center-align" style="color: rgba(255, 255, 255, 0.901961);margin:0">
                        নতুন আক্রান্ত
                    </h4>
                    <div class="card-content mt-10">
                        <span class="">২৪ ঘণ্টা</span>
                        <span class="secondary-content strong">৬৮৮৫ জন</span>
                    </div>
                    <div class="card-action">
                        <span>মোট</span>
                        <span class="secondary-content strong">১৪১২২১৮ জন</span>
                    </div>
                    <div class="card-action pb-10 center">
                        <a href="#" class="mb-6 mt-10 btn waves-effect waves-light gradient-45deg-light-blue-cyan">View All</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card animate fadeLeft border-radius-10 gradient-45deg-teal-cyan">
                    <h4 class="border-radius-10 header gradient-45deg-indigo-blue padding-5 medium center-align" style="color: rgba(255, 255, 255, 0.901961);margin:0">
                        মৃত্যু
                    </h4>
                    <div class="card-content mt-10">
                        <span class="">২৪ ঘণ্টা</span>
                        <span class="secondary-content strong">১৭৮ জন</span>
                    </div>
                    <div class="card-action">
                        <span>মোট</span>
                        <span class="secondary-content strong">২৩৯৮৮ জন</span>
                    </div>
                    <div class="card-action pb-10 center">
                        <a href="#" class="mb-6 mt-10 btn waves-effect waves-light gradient-45deg-light-blue-cyan">View All</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card animate fadeLeft border-radius-10 gradient-45deg-teal-cyan">
                    <h4 class="border-radius-10 header gradient-45deg-indigo-blue padding-5 medium center-align" style="color: rgba(255, 255, 255, 0.901961);margin:0">
                        সুস্থ
                    </h4>
                    <div class="card-content mt-10">
                        <span class="">২৪ ঘণ্টা</span>
                        <span class="secondary-content strong">৭৮০৫ জন</span>
                    </div>
                    <div class="card-action">
                        <span>মোট</span>
                        <span class="secondary-content strong">১২৮১৩২৭ জন</span>
                    </div>
                    <div class="card-action pb-10 center">
                        <a href="#" class="mb-6 mt-10 btn waves-effect waves-light gradient-45deg-light-blue-cyan">View All</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card animate fadeLeft border-radius-10 gradient-45deg-teal-cyan">
                    <h4 class=" border-radius-10 header gradient-45deg-indigo-blue padding-5 medium center-align" style="color: rgba(255, 255, 255, 0.901961);margin:0">
                        পরীক্ষা
                    </h4>
                    <div class="card-content mt-10">
                        <span class="">২৪ ঘণ্টা</span>
                        <span class="secondary-content strong">৩৩৩৩০ জন</span>
                    </div>
                    <div class="card-action">
                        <span>মোট</span>
                        <span class="secondary-content strong">৮৩৭৫৫২০ জন</span>
                    </div>
                    <div class="card-action pb-10 center">
                        <a href="#" class="mb-6 mt-10 btn waves-effect waves-light gradient-45deg-light-blue-cyan">View All</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ecommerce product end-->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
    </div>
    <div id="carousel-special-options" class="card card-tabs">
        <div class="card-content">
            <div id="view-carousel-carousel-special-options">
                <div class="row">
                    <div class="col s12 m9 l9">
                        <div class="slider">
                            <ul class="slides">
                                <li>
                                    <img src="~/img/1.jpg"> <!-- random image -->
                                    <div class="caption left-align">
                                        <h3>করোনা সংক্রান্ত তথ্য ও <br/> সচরাচর জিজ্ঞাসা</h3>
                                        <a class="mb-6 btn waves-effect waves-light gradient-45deg-red-pink">জিজ্ঞাসা</a>
                                    </div>
                                </li>
                                <li>
                                    <img src="~/img/2.jpg" />
                                    <div class="caption center-align">
                                        <h3>Get latest Covid-19 Update</h3>
                                        <a class="mb-6 btn waves-effect waves-light gradient-45deg-light-blue-cyan">View details</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col s12 m3 l3 center">
                        <span class="col s12 m10 l10 offset-l1 offset-m1">
                            কোভিড-১৯ টেলিহেলথ সেন্টার দৈনিক রিপোর্ট
                        </span>
                        <span class="col s12 m10 l10 offset-l1 offset-m1 display-block mt-5">
                            August 16, 2021
                        </span>
                        <img src="https://corona.gov.bd/storage/telehealth-daily-reports/July2021/zBq7gZS6GFPwPcHAcHJn.PNG" alt="image" class="media-image materialboxed responsive-img col s12 m10 l10 offset-l1 offset-m1 display-block mt-5 border-radius-5" />
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--end container-->
</div>

@section script{
    <script>
        $(document).ready(function(){
            $('.materialboxed').materialbox();
        });
    </script>
}
